@font-face {
  font-family: "DS Digital Font";
  src: url(fonts/DS-DIGIB.TTF);
};

/*Siempre iniciar el CSS asi (etiqueta *)*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;/*Usarlo de ahora en adelante, ya que es la forma más intuitiva y eficiente de trabajar el diseño web. Tamaño total del elemento:(contenido + padding + border) es constante. Los cambios en el relleno y el borde no afectan el tamaño del contenido*/
}

body{
  background-color: rgb(74, 71, 71);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}


#calculator{
  background-color: rgb(88, 197, 212);
  max-width: 550px;/*es el ancho máximo que manejara el div contenedor de toda la calculadora*/
  margin: 50px auto;/*margin superior de 50px y el auto lo que hace es centrar*/
  padding: 35px 35px 0px 35px;/*va en sentido de las manecillas del reloj donde el primer valor es el lado superior*/
  border-radius: 10px;
  box-shadow: 10px 5px rgb(50, 148, 161);
}

#screen{
  background-color:#dfdada ;
  width: 100%;
  padding: 5px;
  text-align: right;
  font-family: monospace;
  font-size:50px;
  font-weight: 600;
  border-radius: 0px 0px 10px 10px  
}

#buttonsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 3px;
  margin: 10px 0px;
}

button {
  padding: 5px;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  border-radius: 15px;
  background-color: rgb(155, 180, 191);
  border-color: rgb(155, 186, 199);
  color: rgb(77, 73, 70);
  cursor: pointer;  
}

button:hover {
  background-color:rgb(125, 151, 159) ;
  color: aliceblue;
}

#equal{
  grid-column: span 2;
  background-color: rgb(250, 137, 56);
  border-color:rgb(241, 147, 80);
  color: white;
  cursor: pointer;
}

#equal:hover{
  background-color: rgb(244, 115, 9);
}

#name{
  text-align: right;
  font-size: small;
  padding-bottom: 5px;  
}

#name a{
  color: black;
  text-decoration: none;
  font-style: italic;
}

